body{
  font-size: 16px;
}
.detail-view-wrapper{
  display: flex;
  justify-content: left;
}

.image-container{
  width:50%;
}

.image-view-wrapper{
  width:600px;
  height: 100vh;
}

.detail-container{
  padding: 30px;
}

.summary{
  font-size: 16px;
}